@import "tailwindcss";

@layer base {
  body {
    margin: 0;
    /* Using the #1F4959 and #0D1B2A depth */
    background: linear-gradient(135deg, #1F4959 0%, #0D1B2A 100%);
    min-height: 100vh;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif; /* Clean, modern font */
  }
}